@media all and (max-width: 1000px) {
  .settingsBar {
    visibility: hidden;
  }
}

.body,
html {
  height: 100%;
}

.debug {
  border: 1px solid red;
}

.tableHead {
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
  font-size: 0.75rem /* 12px */;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  text-transform: uppercase;
}

.tableRow {
  padding: 1rem;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
}

input[type='date'] {
  color-scheme: dark;
}

.errorMessage {
  font-size: 0.8em;
  color: tomato;
}

/* SHEPHERD */
.shepherd-welcome.shepherd-element {
  height:500px;
  max-width: 800px;
}
.shepherd-slide1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
}
.shepherd-slide1 img {
  width: 144px;
}
.shepherd-slide1 h3 {
  font-size: xx-large;
  font-weight: 600;
  line-height: normal;
  max-width: 88%;
}

.shepherd-slide1 h6 {
  font-size:large;
  padding-left: 2em;
  padding-right: 1em;
}

.shepherd-slide1 p {
  font-size:small;
  font-style: italic;
  width: 80%;
}

.shepherd-side.shepherd-element {
  max-width: 400px;
  padding: 8px;
}

.shepherd-side .shepherd-header {
  /* border: 1px solid red; */
  display: block;
  /* max-width: 400px;
  padding: 8px; */
}

.shepherd-side-slim.shepherd-element {
  max-width: 244px;
  padding: 8px;
}
.shepherd-side-slim .shepherd-header {
  display: block;
}

.shepherd-center.shepherd-element {
  max-width: 600px;
  padding: 8px;
  
}


.shepherd-feature.shepherd-element {
  max-width: 800px;
  padding-bottom: 2em;
  
}

.shepherd-button.fixed-width {
  width: auto;
}

.shepherd-button.skip-button {
  width: 188px;
}

.shepherd-slide2.shepherd-element {
  max-width: 400px;
  padding: 8px;
}

.shepherd-slide3.shepherd-element {
  max-width: 500px;
}

.shepherd-slide3.shepherd-element .shepherd-text {
  font-style: italic;
}


.shepherd-slide3.shepherd-element p {
  width: 80%;
}

.shepherd-button.next-button {
  width: 122px;
  height: 3em;
}

