@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #282828;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #0c0c0c;
      border-radius: 100vh;
      border: 3px solid #000000;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #111111;
    }
  }